/* Copyright Talkersoft LLC */
/* /frontend/storybook/src/stories/DateTimeSelector/date-time-selector.scss */
.date-time-picker-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date-time-picker-label {
  font-size: 14px;
  color: var(--label-color);
  user-select: var(--label-user-select);
}

.dateTimeSelectContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  background-color: var(--color-input);
  border: 1px solid var(--color-neutral-600);
  border-radius: 4px;
  color: var(--color-on-surface);
  cursor: var(--display-cursor);
  height: 16px;

  .placeholder {
    color: var(--color-on-surface);
    flex-grow: 1;
  }

  .icon {
    width: 1rem;
    height: 1rem;
    color: var(--color-on-surface);
  }

  &.invalid {
    border-color: var(--color-error);
  }
}

.react-datepicker-wrapper {
  width: 100%; 
}

.react-datepicker {
  z-index: 20;
  font-size: 14px; 
  border: 1px solid var(--color-neutral-600); 
  background-color: var(--color-neutral-700); 
  color: var(--color-on-surface);

  .react-datepicker__header {
    background-color: var(--color-neutral-600); 
    border-bottom: 1px solid var(--color-neutral-700);
  }

  .react-datepicker__day,
  .react-datepicker__day-name {
    color: var(--color-on-surface);
  }

  .react-datepicker__day:hover {
    background-color: var(--color-neutral-500);
  }

  .react-datepicker__current-month,
  .react-datepicker-time__header {
    color: var(--color-on-surface);
  }

  .react-datepicker__triangle {
    display: none;
  }

  .react-datepicker__time-container {
    .react-datepicker__time {
      background-color: var(--color-neutral-700);
      border-left: 1px solid var(--color-neutral-600);
    }
    
    .react-datepicker__time-box {
      .react-datepicker__time-list-item {
        &:hover {
          background-color: var(--color-neutral-500);
        }
      }
    }
  }
}

.error-message {
  color: var(--color-error);
  font-size: 0.875rem;
  position: absolute;
  bottom: -1.5rem;
}
