/* Copyright Talkersoft LLC */
/* /frontend/storybook/src/stories/LineGraph/line-graph.scss */
.line-graph {
  .recharts-wrapper {
      background-color: #222;
      border-radius: 8px;
      padding: 20px;
  }

  .recharts-cartesian-axis-tick-value {
      fill: #aaa;
  }

  .recharts-tooltip-label {
      color: #eee;
  }

  .recharts-tooltip-item-list .recharts-tooltip-item {
      color: #ccc;
  }

  .recharts-legend-item-text {
      color: #bbb;
  }
}
