/* Copyright Talkersoft LLC */
/* /frontend/storybook/src/stories/LineGraph/line-graph.scss */
@import '../../../dark-theme.scss';

.line-graph {
  width: 100%;
  height: 100%;
  .recharts-wrapper {
      width: 100%;
      height: 100%;
  }
}
