/* Copyright Talkersoft LLC */
/* /frontend/storybook/src/stories/DataGrid/data-grid.scss */
@import '../../../dark-theme.scss';

.data-grid {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;

  th,
  td {
    border: 1px solid #444;
    padding: 8px;
  }

  th {
    background-color: #333;
    color: #fff;
  }

  tbody tr:nth-child(even) {
    background-color: #222;
  }

  tbody tr:nth-child(odd) {
    background-color: #111;
  }

  tbody tr:hover {
    background-color: #555;
  }

  td {
    color: #fff;
  }

  .edit-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: #fff;
    cursor: pointer;
  }
}
