/* Copyright Talkersoft LLC */
/* /frontend/task-scheduler-web/src/components/content.scss */
// src/components/content.scss
.content {
  margin-left: 220px;
  padding: 20px;
  background-color: var(--color-neutral-450);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-on-surface);
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

