.tab-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .tab-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid var(--color-neutral-600);
  }

  .tab-item {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    color: var(--color-on-surface);
    background-color: var(--color-neutral-450);
    border-radius: 4px 4px 0 0;
    margin: 0 5px; /* Add some spacing between tabs */

    &.active {
      border-bottom: 2px solid var(--color-primary);
      background-color: var(--color-neutral-600);
      font-weight: bold;
    }

    &:hover {
      background-color: var(--color-neutral-400);
    }
  }
}
