:root {
  --color-neutral-100: #f0f0f0;
  --color-neutral-200: #d9d9d9;
  --color-neutral-300: #bfbfbf;
  --color-neutral-400: #a6a6a6;
  --color-neutral-450: #8c8c8c;
  --color-neutral-500: #737373;
  --color-neutral-600: #595959;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #0d0d0d;
  --color-primary: #1a73e8;
  --color-secondary: #e91e63;
  --color-error: #d32f2f;
  --color-on-primary: #ffffff;
  --color-on-secondary: #ffffff;
  --color-on-error: #ffffff;
  --color-on-surface: #ffffff;
  --color-background: #121212;
  --color-surface: #212121;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
