/* Copyright Talkersoft LLC */
/* /frontend/task-scheduler-web/src/views/task-scheduler.scss */
// src/views/task-scheduler.scss
@import '../dark-theme.scss';

.task-scheduler {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.action-button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.action-button-container .storybook-button {
  width: auto; /* Ensure the button does not take the full width */
}

.modal {
  background-color: var(--field-bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-on-surface);
  max-width: 500px;
  margin: auto;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 20px;
}
